.Rproj.user
.Rhistory
.RData
.Ruserdata

# data ignored due to:

# being too large (>100MB) and cannot get hosted on GitHub:

## AIS
### 2018 - 2022
data/a_raw_data/AISVesselTransitCounts2018
data/a_raw_data/AISVesselTransitCounts2019
data/a_raw_data/AISVesselTransitCounts2020
data/a_raw_data/AISVesselTransitCounts2021/AISVTC2021Atlantic*
data/a_raw_data/AISVesselTransitCounts2021/AISVTC2022Atlantic*
data/a_raw_data/AISVesselTransitCounts2021/AISVTC2022WestCoast*
